<h1>[ngSwitch]</h1>

<input type="text" [(ngModel)]="persona.name">
<div [ngSwitch]="persona.name">
  <p *ngSwitchCase="'Federico'">Hola Federico</p>
  <p *ngSwitchCase="'Agustin'">Hola Agustin</p>
  <p *ngSwitchCase="'Roberto'">Hola Roberto</p>
  <p *ngSwitchDefault>Hola</p>
</div>

<hr/>
<h1>*ngFor con Objetos</h1>

<div>
  <div *ngFor="let product of products">
    <img [src]="product.img" alt="image" width="250">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>

<hr/>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="nombres.length === 0">No hay nombres</li>
  <li *ngFor="let nombre of nombres; index as i">
    {{i}} {{nombre}}
    <button (click)="deleteName(i)">Eliminar</button>
  </li>
</ul>

<hr/>
<h1>*ngIf</h1>

<p *ngIf="1 == 1; else elseBlock">Mi contenido</p>
<ng-template #elseBlock>
    Bloque else
</ng-template>

<hr/>
<h1>NgModel</h1>

<p>Nombre: {{persona.name}}</p>
<input type="text" required #nameInput="ngModel"  [(ngModel)]="persona.name" />
<p>Valido: {{ nameInput.valid ? 'Correcto' : 'Requerido' }}</p>

<p>Edad: {{persona.age}}</p>
<input type="number" max="18" min="5" required #ageInput="ngModel"  [(ngModel)]="persona.age" />
<p>Valido: {{ ageInput.valid ? 'Correcto' : 'Solo entre 5 o 18 años' }}</p>

<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">{{btnDisable ? 'Activar' : 'Desactivar'}}</button>
<p>Edad: {{persona.age}}</p>
<button (click)="addAge()">Aumentar la edad</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus quae velit beatae dolores quis tempore, eum incidunt sint deserunt veniam perspiciatis atque recusandae eos expedita sapiente labore voluptate cum similique.</p>
</div>

<p>Nombre: {{persona.name}}</p>
<input type="text" [value]="persona.name" (keyup)="changeName($event)">


<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="persona.name">
<progress max="100" [value]="persona.age"></progress>
<img [src]="persona.avatar" alt="" width="100">
<hr/>
<h1>Hola Mundo</h1>
<h2>{{'Hola mundo'}}</h2>
<h3>Hola soy {{name}} y tengo {{age}}</h3>
<img src={{img}} alt="">
<router-outlet></router-outlet>
